/* ============= VARIABLES ============= */
:root {
  --cta-active-color: 77 90 229; /*iris*/
  --hover-pressed-color: 64 75 191; /*ocean*/
  --primary-text-color: 67 68 85; /*slate*/
  --secondary-text-color: 46 47 66; /*navy blue*/
  --light-text-color: 255 255 255;
  /*white*/
  --success-color: 49 208 170; /*green*/
  --helper-text-color: 142 143 153; /*light-slate*/
  --accent-color: 231 233 252; /*cornflower*/
  --primary-background-color: 255 255 255; /*white*/
  --secondary-background-color: 46 47 66; /*navy blue*/
  --modal-background-color: 252 252 252; /*dairy*/
  --modal-secondary-background-color: 46 47 66 /0.4; /*navy blue modal*/
  --hero-image-background-color: 46 47 66 /0.7; /*grey*/
  --light-background-color: 244 244 253; /*cloud*/
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

/* ============= END VARIABLES ============= */

/* ============= COMMON STYLES ============= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(var(--secondary-text-color));
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

body {
  background-color: rgb(var(--primary-background-color));
  color: rgb(var(--primary-text-color));
  font-family: var(--primary-font-family);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: rgb(var(--secondary-text-color));
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgb(var(--secondary-text-color));
}

.section {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ============= END COMMON STYLES ============= */

/* ============= HEADER ============= */
.page-header {
  border-bottom: 1px solid rgb(var(--accent-color));
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(var(--cta-active-color));
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: rgb(var(--secondary-text-color));
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu-link {
  padding: 24px 0;
  font-weight: 500;
}

.contacts {
  font-style: normal;
}

.contacts-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-menu-link {
  color: rgb(var(--primary-text-color));
  padding: 24px 0;
}

.nav-menu-link:hover,
.contacts-menu-link:hover,
.nav-menu-link:focus,
.contacts-menu-link:focus {
  color: rgb(var(--hover-pressed-color));
}

/* ============= END HEADER ============= */

/*============== MAIN ====================*/

/*============= HERO SECTION =============*/

.hero-section {
  background-color: rgb(var(--secondary-background-color));
  padding: 188px 0 188px;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  text-align: center;
  color: rgb(var(--light-text-color));
}

.hero-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  background-color: rgb(var(--cta-active-color));
  color: rgb(var(--light-text-color));
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgb(var(--hover-pressed-color));
}
/*=========== END HERO SECTION =============*/

/*=========== BENEFITS SECTION =============*/

.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-item-title {
  margin-bottom: 8px;
}
/*=========== END BENEFITS SECTION =============*/

/*=========== OUR TEAM SECTION =============*/
.team-section {
  background-color: rgb(var(--light-background-color));
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background-color: rgb(var(--primary-background-color));
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-employee-container {
  padding: 32px 0;
}
.team-item-title {
  margin-bottom: 8px;
  text-align: center;
}

.team-item-text {
  text-align: center;
}
/*=========== END OUR TEAM SECTION =============*/
.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-type {
  padding: 32px 16px;
  border: 1px solid rgb(var(--accent-color));
  border-top: none;
}
.portfolio-item-title {
  margin-bottom: 8px;
}

/*=========== OUR PORTFOLIO SECTION =============*/
/*========= END OUR PORTFOLIO SECTION ===========*/

/*============ END MAIN ==================*/

/*=========== FOOTER =============*/


.page-footer {
  background-color: rgb(var(--secondary-background-color));
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}



.footer-logo .logo-part,
.footer-text {
  color: rgb(var(--light-background-color));
}

.footer-text {
  max-width: 264px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
} 

/*========= END FOOTER ===========*/
