:root {

  /* -- colors -- */

	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;

   /* -- fonts -- */

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

   /* -- cards -- */
   --items: 3;
   --indent-row: 24px;
   --indent-col: 24px;


}

body {
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.header-address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.container{
  max-width: 1440;
  margin: 0 auto;
}
/* #region header */

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-header-part {
  color: var(--navy-blue);
}

.header-nav-link {
  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.header-nav-link:focus,
.header-nav-link:hover,
.header-address-link:focus,
.header-address-link:hover {
  color: var(--ocean);
}
.header-address-link {
  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--slate);
  letter-spacing: 0.02em;
}
/* #endregion header */

/* #region Hero */
.hero {
  background-color: var(--navy-blue);
}
.hero-header {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-button {
  font-weight: 500;
  background-color: var(--iris);
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/* #endregion Hero */

/* #region benefits */
.benefits-item-header {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.benefits-list-item {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* #endregion benefits */

/* #region our team */
.team-section {
  background-color: var(--cloud);
}
.team-header {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}
.team-item-header {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  background-color: var(--white);ff;
}
.team-list {
  background-color: var(--white);ff;
}
.team-item {
  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
  color: var(--slate);
  letter-spacing: 0.02em;
  background-color: var(--white);ff;
}
/* #endregion our team */

/* #region portfolio */

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.portfolio-item-header {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  /* line-height: 24px; */
  line-height: 1.2;
  color: var(--navy-blue);
}
.portfolio-item {
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion portfolio */

/* #region footer */
.footer-section {
  background-color: var(--navy-blue);
}
.footer-logo-part {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--cloud);
}
.footer-slogan {
  /* line-height: 24px; */
  line-height: 1.5;

  color: var(--cloud);
  letter-spacing: 0.02em;
}
/* #endregion footer */
